generate_load_scripts: true
source https://nuget.org/api/v2

nuget FSharp.Core ~> 4.5.0 redirects: force
nuget Newtonsoft.Json
nuget suave
nuget System.Reactive
nuget Thoth.Json
nuget Thoth.Json.Net
# nuget Microsoft.Extensions.Caching.Memory
github haf/YoLo Yolo.fs

group Build
  source https://nuget.org/api/v2
  
  nuget FAKE
  nuget FSharp.Formatting
  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget xunit

