source https://nuget.org/api/v2

nuget FSharp.Core ~> 4.5.0 redirects: force
nuget Newtonsoft.Json
nuget System.Reactive
# nuget Microsoft.Extensions.Caching.Memory
github haf/YoLo Yolo.fs

group Build
  source https://nuget.org/api/v2
  
  nuget FAKE
  nuget FSharp.Formatting
  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget xunit